<a href="https://colab.research.google.com/github/kyoorochi/-/blob/main/python_test(20231228).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 제대로 하고 있는건가?
print("진짜 안보이는거 맞나?")
# print("진짜네?")

진짜 안보이는거 맞나?

In [ ]:
# print("진짜 안보이는거 맞나?")
# print("진짜네?")

In [ ]:
for 동물 in ("토끼", "사자", "호랑이", "고양이"):
    print(동물)
    print("보러 갈래요?")

토끼
보러 갈래요?
사자
보러 갈래요?
호랑이
보러 갈래요?
고양이
보러 갈래요?

##사칙연산 테스트 (마크다운언어)
더하기 : +

빼기 : -

곱하기 : *

나누기 : / (일반적인 나누기), // (몫을 반환, 5/2=2), % (나머지를 반환, 5/2=1)

거듭제곱 : **

In [ ]:
# 더하기
print(3+2)

5

In [ ]:
# 빼기
print (3-1)

2

In [ ]:
# 곱하기
print (3*2)

6

In [ ]:
# 나누기 (일반)
print (5/2)

2.5

In [ ]:
# 나누기 (몫을 반환)
print (5//2)

2

In [ ]:
# 나누기 (나머지를 반환)
print (8%3)

2

In [ ]:
# 거듭제곱
print (2**10)

1024

내장함수 : divmod
> 내장함수 : 자주 사용하는 기능을 미리 만들어 놓은 것을 내장함수라고 한다.

**divmod** : 몫과 나머지를 동시에 구해짐

In [ ]:
print(divmod(5, 2))
print(divmod(7, 4))
print(divmod(13, 2))
print(divmod(19, 4))

print( 7//4, "," , 7%4)

(2, 1)
(1, 3)
(6, 1)
(4, 3)
1 , 3

###괄호

수학에서 사용되는 괄호와 동일한 기능을 가짐

() : 괄호 안에 있는 것을 먼저 계산한다

사칙연산 순서 : 괄호 -> 곱셈, 나눗셈 -> 덧셈, 뺄셈

In [ ]:
3+2*4

11

In [ ]:
(3+2)*4

20

### 변수란? (기본 중에 기본)

변수 : 하나의 값을 저장할 수 있는 공간

하나의 변수에 하나의 갑슬 넣을 때 : 변수이름=값

두 개의 변수에 하나의 값을 각각 넣을 때 : 변수이름1, 변수이름2=값1, 값2

In [ ]:
# 하나의 값을 변수에 넣을 때
num=1
#print(num)

# 두개의 값을 변수에 넣을 때
num_1, num_2=1, 2
print(num_1)
print(num_2)

print(num_1, num_2)

1
2
1 2

1부터 5까지의 숫자를 더하는 문제를 풀어보자. 단, 다음 숫자를 더하기 위해서 매번 새로운 줄에서 더해야 되는 조건이 있다.

In [ ]:
# 변수를 사용하지 않을 때
# 이전에 계산된 결과를 저장할 수 있는 방법이 없음
1+2
1+2+3
1+2+3+4
1+2+3+4+5

15

In [ ]:
# 변수를 사용할 때
# 이전에 계산된 결과를 저장해서 사용할 수 있음

sum=1+2
sum=sum+3
sum=sum+4
sum=sum+5

print(sum)

15

### 변수에 값을 넣는 것 -> 할당

sum=1+2 -> 1+2의 계산된 결과를 sum이라는 변수에 할당한다.

sum은 변수명이고 "=" 은 할당(assignment)이라고 한다.

"=" : 할당 연산자

"+" : 산술 연산자

+= : 산술 후 바로 발당하는 문법 (-=, *=, /= 도 가능하다)

In [ ]:
# 변수를 사용하며 사용 가능한 문법
sum=1+2
sum=sum+3
sum=sum+4
sum=sum+5

print(sum)

sum2=1+2
sum2+=3
sum2+=4
sum2+=5

print(sum2)

15
15

In [ ]:
# 주의!! 선언되지 않은 별수를 사용할 경우 에러가 발생한다
sum3+=1
sum3+=0

NameError: ignored

In [ ]:
# 변수에 어떠한 값도 넣고 싶지 않고 선언하는 방법
nothing=None
print(None)

None

### 변수를 만드는 규칙

영문자와 숫자를 사용할 수 있다.  대소문자를 구분한다.
첫글자는 대문자로 쓰는걸 지향한다.  
문자부터 시작해야 하며 숫자부터 시작하면 안된다.  
언더바로 시작할 수 있으나 이외의 특수문자는 사용할 수 없다. (+,-,*,/,@,&,% 등)  
파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없다.

In [ ]:
#대수문자를 구분하는 변수
BIG="크다"
big="작다"

print(BIG,big)

크다 작다

In [ ]:
# 변수를 만들 때 스네이크 케이스를 사용한다. 언더바는 2개 적용한다
# 개발에 관련된 여러 조건을 명시하는 것들을 코드 컨벤션이라고 한다.

box__shose="스니커즈"
box__hat="슈프림 모자"

print(box__shose)
print(box__hat)

스니커즈
슈프림 모자

In [ ]:
#print() 포맷팅 3가지 f-string : print(f'{변수명}')

me = "BE_02_박민호"
print(f'{me}만 빼고 고양이 다 있어')

BE_02_박민호만 빼고 고양이 다 있어

In [ ]:
# 강의 속 미션 해보기
# 붕어빵(팥) : 2000원, 붕어빵(슈크림) : 2500원, 붕어빵(잡채) : 3000원
# 무인 주문기계를 만들어 보시오
# 잡붕 3개, 슈붕 2개를 주문하면
# "주문이 완료되었습니다. 슈붕 2개, 잡채붕어빵 3개. 총 5개 결제 금액은 14000원 입니다."
# 이 문구가 출력되도록 코드를 작성해 보시오
# 변수를 만들때 스네이크 케이스에 언더바는 2개 / print()문의 포맷팅은 f-string

# 모르겠어서 그냥 강의 재생을 시켰는데 이 아래 문구는 뭐지? 헐...

# 변수값 입력
fish__p, fish__s, fish__j = "붕어빵(팥)", "붕어빵(슈크림)", "붕어빵(잡채)"
fish__p__sell, fish__s__sell, fish__j__sell = 2000, 2500, 3000
order_s, order_j = 2, 3

# 붕어빵 계산값
order_s__pay, order_j__pay = fish__s__sell*2, fish__j__sell*3

# 구매 총 개수
total = order_s + order_j

# 구매 총 금액
total_pay = order_s__pay + order_j__pay

print(f'주문이 완료되었습니다. {fish__s} {order_s}개, {fish__j} {order_j}개. 총 {total}개 결제 금액은 {total_pay}원 입니다.')

주문이 완료되었습니다. 붕어빵(슈크림) 2개, 붕어빵(잡채) 3개. 총 5개 결제 금액은 14000원 입니다.

In [ ]:
# int(integer) : 정수 (1, 2, 3, 4, -1, -2 등)
# float(float) : 실수 (소수, 1.2, 3.3, 4.0)
# str(string) : 문자
# bool(bool, boolean) : 참 또는 거짓, true 또는 false, 1 또는 0
# list
# tuple (마크다운 언어)
# dict
# set

In [ ]:
#box_num에 숫자만 넣자는 약속을 했다. 그러나 누군가 한글 표기법으로 숫자를 넣었다

box_num = "하나"
box_num += 1
print(box_num)

TypeError: ignored

In [ ]:
type(box_num)

str

In [ ]:
type(1)

int

### 형변환 : 형태를 변환시킨다. (예시 : int -> float)  
5(int) -> 5.0 (float)

In [ ]:
print(float(5))

5.0

In [ ]:
퀴즈 = "왕이 집에 가기 싫을때 하는 말은? 궁시렁 궁시렁"
#len(퀴즈)
print(퀴즈[20:27])

궁시렁 궁시렁

In [ ]:
생년월일 = "2000.12.25"
년 = 생년월일[0:4]
월 = 생년월일[5:7]
일 = 생년월일[8:11]

print(f'{년}, {월}, {일}')

2000, 12, 25

In [ ]:
숫자 = "1234567890"
#전체 출력
print(숫자[::])

#전체 출력 (거꾸로))
print(숫자[::-1])

#첫번째 인덱스 기준으로 2칸씩 띄어쓰기 출력하기
print(숫자[4:1:-1])

1234567890
0987654321
543

In [ ]:
과일 = "apple"
과일.count("p")

2

In [ ]:
과일.index("p")

1

In [ ]:
print(id(3.0))

138723665674448

## 입력과 출력

*입력 : input()  
*출력 : print()

##### 함수와 메소드  
함수 : 어디에 속해있지 않고 단독 모듈이라 함수를 그냥 호출하여 사용이 가능하다 (input(), print()  
메소드 : 함수의 클래스 안에 속해 있고, 클래스의 멤버 변수들을 이용해서 구현된 것 ("어렵다".count("어"), "어렵다".index("어")

In [ ]:
대사 = input()
print(대사 + "그래도 끝까지 가보자")

초장부터 어렵네...
초장부터 어렵네...그래도 끝까지 가보자

In [ ]:
넌센스, 정답 = input().split(",")
print(f'넌센스 퀴즈 : {넌센스}')
print(f'정답 : {정답}')

봄에 대학생들이 강한 이유는?, 개강하니까
넌센스 퀴즈 : 봄에 대학생들이 강한 이유는?
정답 :  개강하니까

In [ ]:
#시퀀스 자료형에 다 지원되는 메소드
번호1, 번호2, 번호3, 번호4 = input().split(",")

번호1 = int(번호1)
번호2 = int(번호2)
번호3 = int(번호3)
번호4 = int(번호4)

print(type(번호1), 번호2, 번호3, 번호4)

13579, 234, 895, 9078
<class 'int'> 234 895 9078

In [ ]:
money = float(input("원금 금액을 입력해주세요. : "))
interest = float(input("연이율을 입력해주세요. : ")) / 100
year = float(input("예치기간을 입력해주세요. (단위 : 년) : "))
total = int((money * interest * year) - money)
print = (f'{year}간 이자 총액은 {total} 입니다.')

원금 금액을 입력해주세요. : 25000000
연이율을 입력해주세요. : 6.15
예치기간을 입력해주세요. (단위 : 년) : 3